@model IEnumerable<projectk.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
 

@foreach (var item in Model) {
    <div>
     @Html.DisplayFor(modelItem => item.Name)
    </div>
    <div>
    <img alt="xx" src="@Html.DisplayFor(modelItem => item.DropboxShareLink)" />
     
    </div>
    
}

 
