.mainbody
{
    max-width:1280px;
    margin:0px auto;
   margin-top:125px;
   position:relative;
}  

/*Article Item*/
.aitem
{
    margin-top:20px;
}
.item-right .aitem-top
{
    display:none;
}
.aitem-top, .notice{
    /*background-color:#57A0EC;
    padding:10px 0px 10px 10px;
     color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    */
      background-position: 0 100%;
    background-repeat: repeat-x;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: block; 
       background-color: #FAFCFD;
    background-image: url("images/notice.png");
    padding:10px;
    position:relative;
    border:solid 1px #D6D6D6;
    
}
.item-image
{
    width:100%;
    position:relative; 
}
.item-image img {
	max-width: 100%;
	height: auto;
}
.aitem-title
{
   font-weight: bold;
   font-size:15px;
}
.pageview
{
    position:absolute;
    width:200px;
    right:0;
    bottom:10px;
}
.leftPane
{ 
    max-width:960px;
    margin-right:300px;
    padding:10px;
    border:solid 1px #D6D6D6;
    border-radius:7px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.article
{
    max-width:960px;
}
.rightPane
{ 
    position:absolute;
    right:0;
    top:0;
    width:290px;  
    margin-left:10px;
  
}
.rightContent
{
    height:900px;
  border:solid 1px #D6D6D6;
    border-radius:5px;
    position:relative;
    padding:10px;
}
.item-info-left
{ 
    width:250px;
     position:absolute;
    
}
.item-right
{
    
    margin-left:260px;
   
    max-width:700px;
    min-height:300px;
}
.si-item
{
   margin: 10px 0px;
}
.si-image
{
    width:120px;
    float:left;
    text-align:center;
}
.si-title
{
    margin-left:10px;
    width:100px;
    float:left;

}
.so-title
{
    font-weight:bold;
    font-size:15px;
    padding:10px;
}
.so-item
{ 
    float: left;
    height: 130px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 128px;
}
.sio-image
{
     
     border: 1px solid #A5A5A5;
}
.sio-title
{
    margin-left:10px;
    width:100px;
     
}

.separate
{
    border-bottom:solid 5px #a5a5a5;
}
.img-polaroid
{

}
.fb-box
{
     color: #0088CC;
    font-size: 18px;
    font-style: italic;
    line-height:120%;
}
 .container-fluid
        {
            margin-top: 130px;
        }

        .article-content
        {
            padding: 15px;
            border: solid 1px #D6D6D6;
            border-radius: 7px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        }

        .suggestion
        {
            border: solid 1px #D6D6D6;
            border-radius: 5px;
            padding: 10px;
        }

        .aitem
        {
            margin-bottom: 10px;
        }

        /*detail*/
        .title-detail
        {
            height: 70px;
            border-radius: 4px;
            text-align: center;
            background-color: #006DCC;
            background-image: linear-gradient(to bottom, #0088CC, #0044CC);
            background-repeat: repeat-x;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            color: #FFFFFF;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            margin-bottom: 5px;
        }

        .author-info
        {
            height: 70px;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        }

        .a-prev
        {
            background: url(/images/prev.png) no-repeat center center;
            width: 70px;
            height: 70px;
        }

        .a-next
        {
            background: url(/images/next.png) no-repeat center center;
            width: 70px;
            height: 70px;
        }

        .a-control:hover
        {
            background-color: #a5a5a5;
            opacity: 0.5;
        }

        .a-control a:hover
        {
            background: none;
        }

        .a-rate div
        {
            padding-bottom: 5px;
            float: left;
        }

        /*panel*/
        #mobileMenu
        {
            position: fixed;
            text-align: center;
            top: 100px;
            width: 100%;
            z-index: 999;
            background-color: #a5a5a5;
        }

.Next-Button
{
    display: block; height: 100%; width: 100%;
}
/*footer*/
.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    text-align: center;
}
 .FixTitle
        {
            position: fixed;
            top: 70px;
        }
      .buttonload
      {
          margin-top:20px;
          text-align:center;
      }
.loading
{
    text-align:center;
}
.loading-upload
{
    display:none;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 