/*reset css*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
display:block;
}

audio,canvas,video {
display:inline;
zoom:1;
}

audio:not([controls]) {
display:none;
height:0;
}

[hidden] {
display:none;
}

html {
font-size:100%;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}

html,button,input,select,textarea {
font-family:sans-serif;
}

a:focus {
outline:thin dotted;
}

a:active,a:hover {
outline:0;
}

h1 {
font-size:2em;
margin:.67em 0;
}

h2 {
font-size:1.5em;
margin:.83em 0;
}

h3 {
font-size:1.17em;
margin:1em 0;
}

h4 {
font-size:1em;
margin:1.33em 0;
}

h5 {
font-size:.83em;
margin:1.67em 0;
}

h6 {
font-size:.75em;
margin:2.33em 0;
}

abbr[title] {
border-bottom:1px dotted;
}

b,strong {
font-weight:bold;
}

blockquote {
margin:1em 40px;
}

dfn {
font-style:italic;
}

mark {
background:#ff0;
color:#000;
}

code,kbd,pre,samp {
font-family:monospace, serif;
_font-family:'courier new', monospace;
font-size:1em;
}

pre {
white-space:pre-wrap;
word-wrap:break-word;
}

q {
quotes:none;
}

q:before,q:after {
content:none;
}

small {
font-size:75%;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline;
}

sup {
top:-.5em;
}

sub {
bottom:-.25em;
}

dd {
margin:0 0 0 40px;
}

menu,ol,ul {
padding:0;
}

nav ul,nav ol {
list-style:none;
list-style-image:none;
}

img {
border:0;
-ms-interpolation-mode:bicubic;
}

svg:not(:root) {
overflow:hidden;
}

fieldset {
border:1px solid #c0c0c0;
margin:0 2px;
padding:.35em .625em .75em;
}

legend {
border:0;
white-space:normal;
margin-left:-7px;
padding:0;
}

button,input,select,textarea {
font-size:100%;
vertical-align:middle;
margin:0;
}

button,input {
line-height:normal;
}

button,html input[type=button],input[type=reset],input[type=submit] {
-webkit-appearance:button;
cursor:pointer;
overflow:visible;
}

button[disabled],input[disabled] {
cursor:default;
}

input[type=checkbox],input[type=radio] {
box-sizing:border-box;
height:13px;
width:13px;
padding:0;
}

body,figure,form {
margin:0;
}

p,pre,dl,menu,ol,ul {
margin:1em 0;
}
.clear
{
    clear:both;
}
/*end reset css*/
.header
{
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #D6D6D6;
    height: 103px !important;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition-duration: 1000ms, 200ms;
    transition-property: opacity, height;
    transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
    z-index: 9;
}

    .header nav.desktop
    {
        display: none;
    }

    .header.upgrade-browser
    {
        height: 223px !important;
    }

        .header.upgrade-browser section#upgrade-browser
        {
            display: block;
        }

        .header.upgrade-browser div.barcolors
        {
            top: 120px;
        }

    .header.small
    {
        height: 65px !important;
    }

        .header.small div.wrapper
        {
            height: 65px !important;
        }

            .header.small div.wrapper nav.desktop
            {
                top: 7px;
            }

            .header.small div.wrapper h2.big
            {
                display: none;
            }

            .header.small div.wrapper h2.small
            {
                display: block;
            }

        .header.small.upgrade-browser
        {
            height: 185px !important;
        }

            .header.small.upgrade-browser section#upgrade-browser
            {
                display: block;
            }

            .header.small.upgrade-browser div.barcolors
            {
                top: 120px;
            }

    .header div.wrapper
    {
        background: none repeat scroll 0 0 white;
        display: block;
        height: 103px;
        margin: auto;
        position: relative;
        width: 1280px;
    }

    .header div.wrapper
    {
        width: 768px;
    }

    .header div.wrapper
    {
        width: 100%;
    }

    .header div.wrapper
    {
        width: 1280px;
    }

        .header div.wrapper.gallery
        {
            border-bottom: 1px solid #D6D6D6;
            height: 126px;
        }

        .header div.wrapper h2
        {
            transition: opacity 360ms ease-in-out 0s;
        }

            .header div.wrapper h2:hover
            {
                opacity: 0.7;
            }

    .header nav.desktop
    {
        display: block;
        height: 60px;
        left: 35%;
        margin: 0 0 0 -172px;
        position: absolute;
        top: 26px;
        transition: top 220ms cubic-bezier(0, 0, 0.25, 1) 0s;
    }

    

        .header nav.desktop a
        {
            color: #555555;
            display: inline-block;
            float: left;
            font-family: "Camphor W01 Heavy";
            font-size: 18px;
            letter-spacing: 0;
            line-height: 18px;
            padding: 20px 22px;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            transition: color 220ms ease-in-out 0s;
        }

            .header nav.desktop a span
            {
                background: none repeat scroll 0 0 #3595AA;
                bottom: -5px;
                display: block;
                height: 3px;
                left: 0;
                opacity: 0;
                position: relative;
                transition: opacity 220ms ease-in-out 0s;
                width: 100%;
            }

            .header nav.desktop a.l
            {
                margin: 0;
            }

            .header nav.desktop a:hover, .header nav.desktop a.current
            {
                color: #3595AA;
            }

                .header nav.desktop a:hover span, .header nav.desktop a.current span
                {
                    opacity: 1;
                }

    .header div.barcolors
    {
        background: url("images/bar.png") repeat-x scroll 0 0 transparent;
        bottom: auto;
        height: 7px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
    }

    .header h2.big
    {
        background: url("images/logo1.png") no-repeat scroll 0 0 transparent;
        cursor: pointer;
        display: block;
        height: 52px;
        left: 29px;
        margin: -21px 0 0;
        position: absolute;
        text-indent: -9999px;
        top: 50%;
        width: 146px;
    }

        .header h2.big.retina
        {
            background: url("../images/portraits-logo-big-retina.png") no-repeat scroll left top / 146px 52px transparent;
        }

    .header h2.small
    {
        background: url("images/small-logo1.png") no-repeat scroll 0 0 transparent;
        cursor: pointer;
        display: none;
        height: 36px;
        left: 29px;
        margin: -15px 0 0;
        position: absolute;
        text-indent: -9999px;
        top: 50%;
        width: 101px;
    }

        .header h2.small.retina
        {
            background: url("../images/portraits-logo-small-retina.png") no-repeat scroll left top / 101px 36px transparent;
        }


    /*.header section#upgrade-browser {
    background: none repeat scroll 0 0 #272727;
    display: none;
    height: 120px;
    padding-left: 150px;
    width: 100%;
}
.header section#upgrade-browser h2 {
    color: #E2E2E2;
    font-family: "Open Sans";
    font-size: 50px;
    letter-spacing: 0;
    line-height: 72px;
    margin: 0;
    padding: 0;
}
.header section#upgrade-browser h2 span {
    color: #F3DF43;
    font-size: 64px;
    margin-left: -10px;
}
.header section#upgrade-browser p {
    color: #A3A3A3;
    font-family: "Camphor W01 Regular";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0;
}*/
.currentUsername
{
        position: fixed;
        right: 65px;
        top: 43px;
        z-index:99999;
}

.currentUsername a  {
    color: #00A3E5;
    text-decoration: none;
}
.header.small div.wrapper .currentUsername
{
    top:32px;
    right: 45px;
}
    .header div.wrapper .panel
    {
        position: fixed;
        right: 0;
        top: 25px;
        z-index:99999;
    }

        .header div.wrapper .panel.big
        {
            background: url("images/panel.png") no-repeat scroll 0 0 transparent;
            height: 72px;
            width: 52px;
        }

        .header div.wrapper .panel.small
        {
            background: url('images/small-panel.png') no-repeat;
            display: none;
            height: 56px;
            width: 36px;
        }

    .header.small div.wrapper .panel.big
    {
        display: none;
    }

    .header.small div.wrapper .panel.small
    {
        display: block;
    }
