<footer class="footer">
      <div class="container">
      <p>Trang web được thiết kế và xây dựng với sự tài trợ của một số tổ chức phi lợi nhuận</p>
       <p>Mọi chi tiết về conmeno.com vui lòng liên hệ qua email <a href="mailto:trangphuong618@gmail.com">trangphuong618@gmail.com</a></p>
         
      </div>
    </footer>
