<footer class="footer">
      <div class="container">
      <p>Trang web được thiết kế và xây dựng với mục đích phi lợi nhuận </p>
       <p>Mọi ý kiến đóng góp về conmeno.com vui lòng liên hệ<a href="mailto:trangphuong618@gmail.com">trangphuong618@gmail.com</a></p>
         
      </div>
    </footer>
