<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Keep Alive- Conmeno.com</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
 
</head>
<body>
   @RenderBody()
   
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    
   @RenderSection("scripts", required: false)


</body>
</html>
