@{
    ViewBag.Title = "Index";
}
@{List<projectk.Models.Article> ListTopVideo = (List<projectk.Models.Article>)ViewBag.listTopView;
    
    <div><h4>Video mới nhất</h4></div>
    foreach (var item in ListTopVideo)
    {
    <div class="si-item ">

        <div class="si-image img-polaroid">
            <a href="/video/details/@item.ID">
                <img alt="video" src="http://img.youtube.com/vi/@item.getYoutubeID()/1.jpg" /></a>
        </div>
        <div class="si-title">
            <div><a href="/video/details/@item.ID">@item.Name</a></div>
        </div>
        <div class="clear"></div>
    </div>
    }
   

}




@{List<projectk.Models.Article> ListTopFunny = (List<projectk.Models.Article>)ViewBag.listTopFunny;
    
    <div><h4>Ảnh hài mới nhất</h4></div>
    foreach (var item in ListTopFunny)
    {
  
    <div class="si-item">
        <div class="si-image img-polaroid">

            <a href="/funny/details/@item.ID">
                <img alt="@item.Name" src="data:unknown;base64,@Convert.ToBase64String(item.ThumbnailData)" />
            </a>
        </div>
        <div class="si-title">
            <div><a href="/funny/details/@item.ID">@item.Name</a></div>
        </div>
        <div class="clear"></div>
    </div>
        
        
    }
   

}

