@{List<projectk.Models.Article> articles = (List<projectk.Models.Article>)ViewBag.articles;
  int i = 0;
    <div class="so-title"><h4>Danh sách các video liên quan</h4></div>
    foreach (var item in articles)
    {
        i++;
    <div class="so-item">

        <div class="soi-image">
            <a href="/funvideo/@item.ID">
                 <img alt="video" src="http://img.youtube.com/vi/@item.getYoutubeID()/1.jpg" />
            </a>
        </div>
        <div class="soi-title"><a href="/funvideo/@item.ID">@item.Name</a></div>
    </div>@*
        if (i == 4)
        {
    <div class="clear"></div>
        } *@
    }
   <div class="clear"></div>
}

