@{List<projectk.Models.Article> articles = (List<projectk.Models.Article>)ViewBag.articles;
  int i = 0;
    <div class="so-title"><h4>Danh sách các bài liên quan</h4></div>
    foreach (var item in articles)
    {
        i++;
    <div class="so-item">

        <div class="soi-image">
            <a href="/image/@item.ID">
                <img alt="@item.Name" src="data:unknown;base64,@Convert.ToBase64String(item.ThumbnailData)" />
            </a>
        </div>
        <div class="soi-title"><a href="/image/@item.ID">@item.Name</a></div>
    </div>@*
        if (i == 4)
        {
    <div class="clear"></div>
        } *@
    }
   <div class="clear"></div>
}

