@{List<projectk.Models.Article> articles = (List<projectk.Models.Article>)ViewBag.articles;
}

@{foreach (var item in articles)
  {
      <div class="so-item">

<div class="soi-image">
 <a href="/funny/details/@item.ID">
                <img alt="@item.Name" src="data:unknown;base64,@Convert.ToBase64String(item.ThumbnailData)" />
            </a>
</div>
<div class="soi-title">@item.Name</div>
</div>
  }
  }

 