@model projectk.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="articles">
 
    <div class="aitem">
        <div class="item-info-left">

            <div class="aitem-top">
                <div class="aitem-title"> @Model.Name)</div>
                <div class="aitem-title">
                    <span>Post by</span>&nbsp;<a href="#"><span style="font-weight: bold;">Super
                            rain</span></a>
                </div>
                <div>
                    <span>View: 6422</span>&nbsp;<span>Like: 6422</span>
                </div>
            </div>
        </div>
        <div class="item-right">
            <div class="aitem-top">
                <div class="aitem-title"> @Model.Name</div>
                <div class="aitem-title">
                    <span>Post by</span>&nbsp;<a href="#"><span style="font-weight: bold;">Super
                            rain</span></a>
                </div>
                <div class="pageview">
                    <span>View: 6422</span>&nbsp;<span>Like: 6422</span>
                </div>
            </div>
            <div class="item-image">

                <iframe width="420" height="315" src="http://www.youtube.com/embed/@Model.getYoutubeID()" frameborder="0" allowfullscreen></iframe>

            </div>
        </div>
        <div style="clear: both"></div>
    </div> 
 
</div>


<div class="suggest-older">

    @{
        Html.RenderAction("OlderVideo", "Suggestion",new {ID=@Model.ID});
    }
</div>
